{% extends "customers/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'seller/seller.css' %}">
{% endblock %}

{% block content %}

<div class="wrapper">

    {% include "seller/sidebar.html" %}

    <div class="main">
        <div class="topbar">
            <h1>Add Product</h1>
        </div>

        <div class="form-box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">
                    Save Product
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock %}